:root {
  --navColor: rgba(255, 255, 255, 0.7);
  --mainBackground: #FFF8E7;
  --linesColor: rgba(213, 194, 144);
  --contoursGreen: #60553A;
  --buttonsColor: #4e7a39;
}

.container{
  width: 100%;
  height: 100vh;
  background-color: var(--mainBackground);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}